body, html{
  font-family: arial, sans-serif;
  margin: 0;
}
/* moves content to not be covered by navbar*/
  .content{
    width: 1500px;
    display: -webkit-flex; /* Safari */
    display: flex;
  }

  .content div{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
  }
/*logo on each page*/
  .logo{
    height:150px ;
    width:300px;


  }

  .pmt_btn{
    position:relative;
    top: 150px;
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    font-size:16px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  .pmt_btn:hover {
    opacity: 1;
    background-color: #ffd700
  }

  /* Styling for Logout button*/
  #logout{
    margin-top: 10px;
    margin-right: 2px;
    float: right;
  }

  /*login*/
  .login-container{
    position: relative;
    float: right;
  }

  .login{
    padding: 16px 32px;
    border: 1px solid black;
  }

    /* Navbar container */
  .navbar {
    min-width: 50%;
    overflow: hidden;
    background-color: #333;
    overflow: hidden;
    display: -webkit-flex; /* Safari */
    display: flex;
  }

  .navbar div{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex:1;
  }

  /* Seccond Navbar container */
  .navbar2 {
    background-color: black;
    overflow:hidden;
  }

  /* Links inside the navbar */
  .navbar a ,.navbar2 a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Add a yellow background color to navbar links on hover */
 .navbar a:hover, .navbar2 a:hover, .dropdown:hover .dropbtn, .dropdown:hover .dropbtn  {
   background-color: #ffd700;
 }


.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}


.dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}


.dropdown-content a:hover {
   background-color: #ddd;

}


.dropdown:hover .dropdown-content {
   display: block;
}


.dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}

.dropdown {
   float: left;
   overflow: hidden;
}

  /* Forgot passwod button faded on hover*/
  .forgot:hover {
    opacity: .5;
  }

  /* popup container for home page */
  .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  /* The actual popup on home page*/
  .popup .popuptext {
      visibility: hidden;
      width: 350px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 30%;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
  }

  /* Toggle this class - hide and show the popup on home page*/
  .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
  }

  /* move options away from margin */
  #payments {
    margin-left: 7%;
  }

  .text {
     margin-left: 4.5%;
   }
  /* imput boxes */
  .imput{
    position: static;
    margin-right: 80%;
    margin-left: 20%;
  }

  /* Buttons */
  .button{
    position:bottom;
    margin-left:8px;
    margin-top:9px;
    background-color: #333;
    border: none;
    color: white ;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  /* Forgot password button*/
  .button a {
    color: white;
    text-decoration: none;
  }

  .button:hover {
    opacity: 1;
    background-color:#ffd700;
  }

  /*search container in navbar */
  .search-container{
    float: right;
    padding: 14px 16px;
    cursor: pointer;
  }
  .search, .submit {
    padding: 16px 32px;
  }
    /* acount buttons */
  .btns {
    margin-left: 6.5%;
  }
  #typebtn a{
    color:white;
  }
  /* Testing hover */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%
    }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  th{
      background-color: #dddddd;
    }
    /* table for detailed balance */
    .table1{
        width: 50%;
    }

    .td, .tr{
        border: 0;
        text-align: left;
        padding: 8px;
        background-color: white;
    }

  /* content */
  .img {
    position: sticky;
    min-height: 1000px;
    height:50% ;
    width:100% ;
  }

  /* Home page place text over image */
  .center {
      position: absolute;
      opacity: .5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  /* icons for home page */
  .icon{
    width:50px;
    height:50px;
    padding: 10px;
  }
  .icon:hover{
    opacity: .5;
  }

  .limitDetails{
    margin-right: 80%;
    margin-left: 20%;
  }

  /* Navbar Items */
  #media{
      color: black;
  }
  #media:hover{
    opacity: .5;
  }

  /* Footer */
  footer{
    background-color: #efefef;
    position: relative;
    opacity: .9;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    text-align: center;
  }
